node_modules
ItemSets
config
/assets/vendor/animate.css
/assets/vendor/font-awesome
/assets/vendor/bootstrap
/assets/vendor/jquery
/build.txt
/compiled/LoLItemSets-win32-x64
/compiled/LoLItemSets-darwin-x64
/compiled/LoLItemSets-win32-ia32
/compiled/LoLItemSets-mas-x64
.idea
