node_modules
ItemSets
config
/assets/vendor/animate.css
/assets/vendor/font-awesome
/assets/vendor/bootstrap
/assets/vendor/jquery
/build.txt
/dist/LoLItemSetCreator-win32-x64
/npm-debug.log
.idea
/dist/LoLItemSetCreator-darwin-x64
/dist/LoLItemSetCreator-win32-ia32
/dist/LoLItemSetCreator-mas-x64
